ACME_EMAIL=contato@studiocarlustyles.com.br

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=studiocarlustyles.com.br,www.studiocarlustyles.com.br,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://studiocarlustyles.com.br,https://www.studiocarlustyles.com.br
CORS_ALLOWED_ORIGINS=https://studiocarlustyles.com.br,https://www.studiocarlustyles.com.br,http://localhost:5173

POSTGRES_DB=studiocarlu
POSTGRES_USER=studiocarlu
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

VITE_API_BASE_URL=https://api-studio-carlu.onrender.com/api
VITE_WHATSAPP_URL=https://wa.me/5583981580195?text=Ol%25C3%25A1%252C+gostaria+de+agendar+um+hor%25C3%25A1rio%2521+
VITE_INSTAGRAM_URL=https://www.instagram.com/studio_carlustyles?igsh=bjZyOWFqdW80cm9j
VITE_GOOGLE_MAPS_URL=https://maps.app.goo.gl/TzdoJmZgWnTHzkNh9?g_st=ic

WHATSAPP_URL=https://wa.me/5583981580195?text=Ol%25C3%25A1%252C+gostaria+de+agendar+um+hor%25C3%25A1rio%2521+
INSTAGRAM_URL=https://www.instagram.com/studio_carlustyles?igsh=bjZyOWFqdW80cm9j
GOOGLE_MAPS_URL=https://maps.app.goo.gl/TzdoJmZgWnTHzkNh9?g_st=ic
